
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";

* {
    box-sizing: border-box;
}
body {
    background: none repeat scroll 0 0 #fff;
    color: #FFFFFF;
    font-family: "Open Sans";
	/* line-height: 26px; */
	line-height: 1em;
    margin: 0 auto;
	background-image:url(128-137.jpg);
	background-repeat:repeat;
	color: black;
	font-size: 5vw;

}

@media screen and (min-width: 440px) {
    body {
        font-size: 22px!important;
    }
}

fieldset {
	border: none;
}

input, select, option {
	font-size: 1em;
}

select {
    border-radius: 0.3em;
    padding: 0.2em;
}

.clear_float {
	clear: both;
}

.button {
	text-align: center;
	padding: 0.5em;
}

.button:hover, .button_link:hover, #menu_btn {
	cursor: pointer;
}

label {
	font-size: 0.9em;
}

#hide {
	display: none!important;
}

.msg {
	display: block;
	position: relative;
	padding:0.75em;
	border-radius: 0.8em;
	
	float: left;
	width: 45%;
	clear: both;
	margin-bottom: 0.5em;
	text-align: left;
}

.msg span {
	line-height: 1.4em;
}

.msg_left + .msg_left, .msg_right + .msg_right {
	border-radius: 0.8em!important;
}

.msg_left + .msg_left::before, .msg_right + .msg_right::after {
	display: none!important;
}

.msg_left {
	background-color: #E1FFC7;
	border-top-left-radius: 0!important;
	float: left;
}

.msg_right::after {
	color: #FFEAB1;
	content: "\25E4";
	position: absolute;
	top: 0;
	right: -0.5em;
	font-size: 2.5em;
	overflow-y: hidden;
}


.msg_right {
	background-color: #FFEAB1; 
	border-top-right-radius: 0!important;
	float: right;
}

.msg_left::before {
	color: #E1FFC7;
	content: "\25E5";
	position: absolute;
	top: 0;
	left: -0.5em;
	font-size: 2.5em;
	overflow-y: hidden;
}

.msg_left:hover, .msg_right:hover {
	cursor: pointer;
}

.msg.vote > div {
	position: absolute;
	top: 0;
	width: 50%!important;
	height: 100%;
	border-radius: inherit;
	opacity: 0.6;
}

.msg.vote > div, .msg_right.vote::before {
	opacity: 0.7;
}

.msg_right.vote::before {
	color: green;
}

.msg.vote > div:nth-of-type(1) {
	background-color: green;
	left: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}



.msg.vote > div:nth-of-type(2) {
	background-color: red;
	right: 0;
	border-bottom-left-radius: 0;
}

.centered_buttons {
	width: fit-content;
	display: inline-block;
}

.centered_buttons > div {
	text-align: center;
}

#login_page {
	text-align: center;
}

.default_button {
	background-color: #42d9f4;
}

.button:active {
	background-color: blue!important;
}

.config_screen input:not([type='radio']){
	width: 100%;
}

.config_screen {
	background-color: white;
	text-align: center;
	padding: 1em 2em 1em 2em;
}

form.error::after {
	color: red;
	content: "An error has occurred";
	display: block;
	font-size: 0.5em;	
}

input[type='text'], input[type='email'], input[type='password']{
	border: 1px black solid;
}

fieldset, input[type='text'], input[type='email'], input[type='password']{
	border-radius: 0.4em;
	padding: 0.4em;
	margin: 0.2em 0 0.2em 0;
}


#new_account input.l2 {
	width: 49.6%;
	float: left;
}

#new_account input.l2 + input.l2 {
	float: right!important;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	height: 3em;
}

.screen {
	margin-top: 3em;
	display: none;
}

header, #menu > div:hover {
	background-color: green;
	color: white;
}

#menu_btn {
	float: right;
	margin: 0.25em 1em 0 0;
}

header > div {
	display: inline-block;
	font-size: 2em;
}


body.settings_page #settings_page, body.login_page:not([data-logged-in]) #login_page, body.new_account:not([data-logged-in]) #new_account, body.reset_password:not([data-logged-in]) #reset_password {
	display: block;
}

body[data-logged-in]:not(.settings_page) #textwrapper {
	display: block;
}


#nav {
	padding-top: 0.3em;
	margin-right: 1em;
	width: 1em;
}

#nav::after {
	position: relative;
	left: 0.5em;
	white-space: nowrap;
	visibility: visible;
	cursor: default;
	font-size: 0.8em;
}

.login_page #nav {
	visibility: hidden;
}

.new_account #nav::after {
	content: "New Account";	
}

.settings_page #nav::after {
	content: "Settings";	
}

.reset_password #nav::after {
	content: "Reset Password";	
}

.login_page #nav::after {
	content: "Login";	
}

body[data-logged-in]:not(.settings_page) #nav::after {
	content: "Sparkchat";
}

body[data-logged-in]:not(.settings_page) #nav {
	visibility: hidden;
}


body:not([data-logged-in]) #logout {
	display: none;
}


#menu {
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	width: auto;
	color: black;
	display: none;
	font-size: 0.5em;
}

#menu_btn.active_menu #menu {
	display:block;
}

#menu > div {
	text-align: left; 
	padding: 0.5em 1em 0.5em 0.5em; 
}

#textwrapper {
	position: relative;
	text-align: center;
}

#textpane {
	padding: 2em 1.5em 0 1.5em;
}

#textwrapper .clear_float {
	padding-top: 5em;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	text-align: left;
	color: gray;
	padding: 0.25em 1em 0.25em 1em;
	line-height: 1.5em;
}

footer div {
	margin: 0.5em 0 0.5em 0;
	font-size:1.5em;
	letter-spacing: 0.5em;
}



#birthday p {
	font-weight: bold;
	margin-bottom: 0.3em;
}

.submit_btn {
	padding: 0.5em;
	width: 6em;
	border-radius: 0.3em;
	margin: 0.5em 0 0.5em 0;
}

.invalid_input {
	border: 1px solid red !important;
	background-color: #FFF5F5;
}
