
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";

* {
    box-sizing: border-box;
}
body {
    background: none repeat scroll 0 0 #fff;
    color: #FFFFFF;
    font-family: "Open Sans";
	/* line-height: 26px; */
	line-height: 1em;
    margin: 0 auto;
	/*background-image:url(msg_bg.jpg);
	background-repeat:repeat;*/
    background-color:#e0e0e0;
	color: black;
	font-size: 5vw;

}

@media screen and (min-width: 440px) {
    body {
        font-size: 22px!important;
    }
}

fieldset {
	border: none;
}

input, select, option {
	font-size: 1em;
}

select {
    border-radius: 0.3em;
    padding: 0.2em;
}

.clear_float {
	clear: both;
}

.button {
	text-align: center;
	padding: 0.5em;
}

.button:hover, .button_link:hover, #menu_btn {
	cursor: pointer;
}

label {
	font-size: 0.9em;
}

#hide {
	display: none!important;
}

.msg {
	display: block;
	position: relative;
	padding:0.75em;
	border-radius: 0.8em;
	
	float: left;
	width: 45%;
	clear: both;
	margin-bottom: 0.5em;
	text-align: left;
}

.msg span {
	line-height: 1.4em;
}

.msg_left + .msg_left, .msg_right + .msg_right {
	border-radius: 0.8em!important;
}

.msg_left + .msg_left::before, .msg_right + .msg_right::after {
	display: none!important;
}

.msg_left {
	background-color: #b6dce8;
	border-top-left-radius: 0!important;
	float: left;
}

.msg_right::after {
	color: #ffe49e;
	content: "\25E4";
	position: absolute;
	top: 0;
	right: -0.5em;
	font-size: 2.5em;
	overflow-y: hidden;
}


.msg_right {
	background-color: #ffe49e; 
	border-top-right-radius: 0!important;
	float: right;
}

.msg_left::before {
	color: #b6dce8;
	content: "\25E5";
	position: absolute;
	top: 0;
	left: -0.5em;
	font-size: 2.5em;
	overflow-y: hidden;
}

.msg_left:hover, .msg_right:hover {
	cursor: pointer;
}

.msg.vote > div {
	position: absolute;
	top: 0;
	width: 50%!important;
	height: 100%;
	border-radius: inherit;
	opacity: 0.6;
}

.msg.vote > div, .msg_right.vote::before {
	opacity: 0.7;
}

.msg_right.vote::before {
	color: green;
}

.msg.vote > div:nth-of-type(1) {
	background-color: green;
	left: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}



.msg.vote > div:nth-of-type(2) {
	background-color: red;
	right: 0;
	border-bottom-left-radius: 0;
}

.centered_buttons {
	width: fit-content;
	display: inline-block;
}

.centered_buttons > div {
	text-align: center;
}

#login_page {
	text-align: center;
}

.default_button {
	background-color: #FEB700;
}

.default_button:hover {
	background-color: #ffd25c;
}

.button:active {
	background-color: #ffd25c;
}

.config_screen input:not([type='radio']){
	width: 100%;
}

.config_screen {
	background-color: white;
	text-align: center;
	padding: 1em 2em 1em 2em;
}

form.error::after {
	color: red;
	content: "An error has occurred";
	display: block;
	font-size: 0.5em;	
}

input[type='text'], input[type='email'], input[type='password']{
	border: 1px black solid;
}

fieldset, input[type='text'], input[type='email'], input[type='password']{
	border-radius: 0.4em;
	padding: 0.4em;
	margin: 0.2em 0 0.2em 0;
}


@keyframes expanding_input {
	from {
		height: 0;
		padding: 0;
		margin: 0;
		border-width: 0;
	}
	to {
		height: 2em;
		padding: 0.4em;
		margin: 0.2em 0 0.2em 0;
		border-width: 1px;
	}
}

@keyframes shrinking_input {
	from {
		height: 2em;
		padding: 0.4em;
		margin: 0.2em 0 0.2em 0;
		border-width: 1px;
	}
	to {
		height: 0;
		padding: 0;
		margin: 0;
		border-width: 0;
	}
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	height: 3em;
}

.screen {
	margin-top: 3em;
	display: none;
}

header, #menu > div:hover {
	background-color: #005a76;
	color: white;
}

#menu_btn {
	float: right;
	margin: 0.4em 1em 0 0;
}

header > div {
	display: inline-block;
	font-size: 2em;
}


body.settings_page #settings_page, body.login_page:not([data-logged-in]) #login_page, body.new_account:not([data-logged-in]) #new_account, body.reset_password:not([data-logged-in]) #reset_password {
	display: block;
}

body.text_wrapper[data-logged-in] #text_wrapper, body.app_update_password[data-logged-in] #app_update_password  {
	display: block;
}


#nav {
	padding-top: 0.3em;
	margin-right: 1em;
	width: 1em;
}

#nav::after {
	position: relative;
	left: 0.5em;
	white-space: nowrap;
	visibility: visible;
	cursor: default;
	font-size: 0.8em;
}

.login_page #nav {
	visibility: hidden;
}

.new_account #nav::after {
	content: "New Account";	
}

.settings_page #nav::after {
	content: "Settings";	
}

.reset_password #nav::after {
	content: "Reset Password";	
}

.update_password #nav::after {
	content: "Update Password";	
}

.login_page #nav::after {
	content: "Login";	
}

body[data-logged-in]:not(.settings_page) #nav::after {
	content: "Sparkchat";
}

body[data-logged-in]:not(.settings_page) #nav {
	visibility: hidden;
}


body:not([data-logged-in]) #logout, body:not([data-logged-in]) #app_update_password_link {
	display: none;
}


#menu {
	position: absolute;
	top: 3em;
	right: 0;
	background-color: white;
	width: auto;
	color: black;
	display: none;
	font-size: 0.5em;
}

#menu_btn.active_menu #menu {
	display:block;
}

#menu > div {
	text-align: left; 
	padding: 0.5em 1em 0.5em 0.5em; 
}

#text_wrapper {
	position: relative;
	text-align: center;
}

#textpane {
	padding: 2em 1.5em 0 1.5em;
}

#text_wrapper .clear_float {
	padding-top: 5em;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	text-align: left;
	color: gray;
	padding: 0.25em 1em 0.25em 1em;
	line-height: 1.5em;
}

footer div {
	margin: 0.5em 0 0.5em 0;
	font-size:1.5em;
	letter-spacing: 0.5em;
}


#birthday p {
	font-weight: bold;
	margin-bottom: 0.3em;
}



.invalid_input:focus {
	background-color: #FFFAFA;
}

input ~ input.unmatched, .invalid_input {
	border-color: red;
	background-color: #FFF5F5;
}

input.new_password.unmatched ~ input.new_password.changed.unmatched:focus ~ span::after {
	content:"Passwords are different";
	color: red;
	opacity: 1;
	transition: opacity 0.5s;
	visibility: visible;
}

input.tooshort.new_password:focus ~ input.new_password ~ span::after {
	content:"Too short";
	color: red;
	opacity: 1;
	transition: opacity 0.5s;
	visibility: visible;
}

input.new_password.changed:not(.tooshort) ~ input.new_password {
	animation: expanding_input 0.5s 1;
	height: 2em;
}

input.new_password.changed:not(.tooshort) ~ input.new_password:not(.changed) ~ span::after {
	content:"Please enter new password again";
	color: green;
	opacity: 1;
	transition: opacity 0.5s;
	visibility: visible;
}

input.new_password.changed:not(.tooshort) {
	background-color: #F0FFF0;
	border-color: green;	
}


.submit_btn {
	padding: 0.5em;
	width: 6em;
	border-radius: 0.3em;
	margin: 0.5em 0 0.5em 0;
	transition: opacity 0.5s;
	visibility: visible;
	opacity: 1;
}

form > fieldset:not(.changed) ~ .submit_btn, form > input:not(.changed) ~ .submit_btn, form > input.unmatched ~ .submit_btn, form > input.tooshort ~ .submit_btn, form > *.invalid_input ~ .submit_btn {
	visibility: hidden!important;
	opacity: 0!important;
	transition: opacity 0.5s;
}


/* input.new_password.changed:not(.unmatched):not(.tooshort) ~ .submit_btn {
	visibility: visible;
	opacity: 1;	
	transition: opacity 0.5s;
} */


input.new_password ~ span::after {
	font-size:0.7em;
	text-align: left;
	position: absolute;
	top:0; 
	left: 0;
	display: block;
	width:20em;
	height: 1em;
	opacity: 0;
	visibility: hidden;
	transition: opacity 2.5s;
}

input.new_password.tooshort:not(.unmatched) ~ input.new_password, input.new_password:not(.changed) ~ input.new_password {
	height: 0;
	padding: 0;
	margin: 0;
	border-width: 0;
	animation: shrinking_input 0.5s 1;
}

input[data-linkedpasswordinput] + span {
	margin-bottom: 2.5em;
	display: block;
	position: relative;
}




